* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f2937;
  font: Roboto;
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

h1 {
  margin-left: 20px;
}

.button {
  display: flex;
  color: #f9faf8;
  background-color: #3882f6;
  font-weight: bold;
  font-size: 30px;
  border-radius: 15px;
  height: 50px;
  width: 200px;
  margin-left: 29px;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #1f2937;
}

.header {
  font-size: 24px;
  color: #f9faf8;
  margin-right: auto;
  margin-left: 2em;
  margin-top: 2em;
}
.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  font-size: 18px;
  margin-left: 2em;
  margin-top: 2em;
}

ul {
  list-style-type: none;
}

a {
  color: #f9faf8;
  font-weight: 100;
}

nav,
.nav-links,
h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.some-random-information {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: #1f2937;
  font-weight: 900;
  padding: 20px;
  font-size: 36px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: auto;
}

.image-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: white;
  padding-bottom: 50px;
}

.outline {
  display: inline;
  border-style: solid;
  border-width: 3;
  border-radius: 9px;
  border-color: #3882f6;
  padding-bottom: 50px;
}

.outline-text {
  font-size: 18px;
  color: #1f2937;
}

.quote-font {
  font-size: 20px;
  color: #1f2937;
  font-family: light, italic;
  font-weight: 400;
  font: bold;
}

.quote-text {
  display: flex;
  justify-content: center;
  background-color: #e5e7eb;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-size {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  font-weight: 300;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action-background-color {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 13px;
  font-weight: 300px;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: #3882f6;
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 6px;
  padding-left: 6px;
}
